<?xml version="1.0" encoding="UTF-8"?>
<configuration >

	<property name="APPLICATION_NAME" value="pi-api" />
	<property name="PATH_LOG" value="/var/log/applicatifs/exop/exop-api" />
	<property name="FILE_OUTPUT" value="${PATH_LOG}/${APPLICATION_NAME}.log" />
	<property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%class{0}.%method:%line] %logger{36} - %message%n%xException" />
	<logger name="org.apache.activemq.transport.failover" level="WARN" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${FILE_OUTPUT}</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${PATTERN}</Pattern>
        </layout>
    </appender>

    <springProfile name="!local">
        <logger name="com.wevioo.exop" level="INFO"/>
        <logger name="org.springframework.boot" level="INFO"/>
        <logger name="javax.jms" level="INFO"/>
        <root level="DEBUG">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

     <springProfile name="local">
            <logger name="com.wevioo.exop" level="DEBUG"/>
            <logger name="org.springframework.boot" level="INFO"/>
            <logger name="javax.jms" level="DEBUG"/>
            <root level="DEBUG">
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
       </springProfile>

</configuration>
